<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
	http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
	
    <server>
      <id>my.anypoint.credentials</id>
      <username>~~~Client~~~</username>
      <password>0045daf3fea74c8694103a22c8426217~?~9f9200fC76c2438da837152B0e0c7b78</password>
    </server>

  </servers>
</settings>
